.previewImage {
    height: 260px;
    width: 260px;
    border-radius: 50%;
    border: 2px solid gray;
}

.inputicon {
   margin-right: 3px;
   border: 1px solid black;
   border-radius: 2px;
   padding: 8px;
}



.inputfile {
    display: none;
    cursor: pointer;
}

.inputitem {
    padding: 6px;
    
}
.textfield{
    width: 300px;
    height: 40px;
}

.btnsubmit{
    width: 200px;
    height: 30px;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 70px;
    background-color: #fff;
}

.btnsubmit:hover{
    background-color: black;
    color: white;
}

.title{
    margin-left: 110px;
}
.profile-img{
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin-top: 2px;
    margin-right: 2px;
}

.profile-name{
    text-align: center;
    margin-bottom: -1px;
    
}

#homePage{
    width: 90%;
    margin-left: 15%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
#categories{
    padding-top: 10px;
}

.quantity-field{
    padding-top: 2px;
    padding-bottom: 6px;
    width: 100px;
    border-radius: 5px;
    
}
.checkoutcartimg{
    height: 50px;
    width: 50px;
}

.checkout-adding-cart{
    max-height: 400px;
    overflow: auto;
}
.btn-adding-cart{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
}
.btn-click:hover{
    cursor: pointer;
}
.quantity-input{
    width: 30%;
    height: 35px;
    border-radius: 5px;
}
.btn-add{
    width: 70%;
    height: 35px;
    border-radius: 5px;
    background-color: #fff;
}